.task-list {
    display: flex;
    flex-direction: column;
    margin: 22px;
    gap: 5px;
}

.modal {
    background-color: rgb(112, 156, 212);
}

.modal-header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 21px;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: right;
}

.header-button {
    display: flex;
    justify-content: space-between;
}
