.task-list {
    display: flex;
    flex-direction: column;
    margin: 22px;
    gap: 5px;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: right;
}

.header-button {
    display: flex;
    justify-content: space-between;
}
